.weatherCard{
    width: 350px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgb(124, 122, 122);
    border-radius: 10px;
    background-color:lightgray;
    box-shadow: 0 0 15px 1px;
}

.eachCard{
    display:flex;
    justify-content: space-around;
    /* align-items: center; */
}

.closeButton{
    display: flex;
    /* width: 20px; */
    float: right;
    justify-content: center;
    color: gray;
    background-color: red;
    border-radius: 5px;
    border: 1px solid red;
    margin: 5px;
    font-weight: bold;
    box-shadow: 2px 2px;
}

.closeButton:hover {
    color: rgb(239, 11, 11);
    background-color: rgb(8, 9, 8);
}

.city{
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow:0.1em 0.1em 0.3em black;
}

